@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+AU+VIC+Guides&family=Playwrite+CO+Guides&family=Playwrite+HR+Lijeva+Guides&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Amaranth", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  
  background: linear-gradient(0deg, #e6edf3 11%, #f5f5f5 50%, #e6edf3 87%);
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
  -ms-overflow-style: none; /* Hides the scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
.logo {
  font-family: "Playwrite AU VIC Guides", serif;
  font-weight: 400;
  font-style: normal;
}

