@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Amaranth", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  
background-color: #B5C5DF;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers */
  -ms-overflow-style: none; /* Hides the scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

